rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  
    match /Feedback/{document} {
      allow read;
      allow create: if isAuthenticated(request);
      allow delete:  if isAdmin(request);

        match /replies/{reply=**} {
        	allow read;
          allow create: if isAuthenticated(request);
      		allow delete: if isAdmin(request) || isOwner(
          get(/databases/$(database)/documents/Feedback/$(document)/replies/$(reply)).data.user
          );
    	}
    }
    
    
    match /mail/{doc=**}{
      allow read;
      allow write: if isAdmin(request);
    }

    match /blogs/{blogId}{
      allow read;
      allow write: if isAdmin(request);

      match /comments/{commentId=**}{
        allow read;
        allow write: if isAuthenticated(request);
        allow delete: if isAdmin(request);
      }
    }
    
    match /tags/{doc=**}{
    allow read;
    allow write: if isAdmin(request);
    }

    match /users/{userID} {
     allow write: if isOwner(userID) || isAdmin(request);
     allow read;
    }
    
    function isOwner(userID){
    	return request.auth.uid == userID;
    }

    function isAuthenticated(request){
      return request.auth != null;
    }
    
    function isAdmin(request) {
     return request.auth.token.admin
    }
    
  }
}