rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    
    match /card-tiles/{any=**}{
    allow read;
    allow write;
    }
    
    match /resumes/{resumeId} {
      allow read;
      allow write, delete: if isAdmin(request);
    }

    match /profilePhotos/{profilePhotoId}{
      allow read;
      allow create: if isAuthenticated(request);
      allow delete: if isAdmin(request);
    }

    match /bugReports/{bugReportImage}{
      allow read;
      allow create: if isAuthenticated(request);
      allow delete: if isAdmin(request);
    }

    match /blog/{fileId}{
      allow read;
      allow write: if isAdmin(request);
    }

    function isAuthenticated(request){
      return request.auth != null;
    }
    
    function isAdmin(request) {
     return request.auth.token.admin
    }
  }
}
